<div>
  <h4>Series ({{ site.categories.size }})</h4>
  <ul>
    {% for category in site.categories %}
    {% assign category_id = category[0] %}
    {% assign matching_category = site.data.categories[category_id] %}
    {% assign category_name = matching_category["name"] | default:category_id %}
    <li>
      <a
        href="{{ site.baseurl }}/categories/{{ category[0] }}"
        >{{ category_name }} ({{ category[1].size }})</a>
    </li>
    {% endfor %}
  </ul>
</div>

