{% if site.pagination.enabled %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}
{%- if posts.size > 0 -%}
  <div class="list-group list-group-flush mt-4">
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    {%- for post in posts -%}
      <a class="list-group-item list-group-item-action px-0" href="{{ post.url | relative_url }}">
        <time class="fw-light" datetime="{{ post.date | date: '%Y-%m-%d' }}">
          {{ post.date |  date: date_format }}
        </time>
        <h2 class="link-primary">
          {{ post.title |  escape }}
        </h2>
        {% if site.show_excerpts %}
          <p class="text-secondary">{{ post.excerpt | strip_html | xml_escape | truncatewords: 50 }}</p>
        {% endif %}
      </a>
    {%- endfor -%}
  </div>

  {% if site.pagination.enabled%}
  <nav aria-label="Navigation" class="mt-4">
    <ul class="pagination">
      {% if paginator.first_page %}
        <li class="page-item {% if paginator.first_page == paginator.page %}disabled{% endif %}">
          <a class="page-link" href="{{ paginator.first_page_path | relative_url }}" aria-label="First page">
            <i class="bi bi-chevron-double-left" aria-hidden="true"></i>
          </a>
        </li>
      {% endif %}
      {% if paginator.previous_page %}
        <li class="page-item">
          <a class="page-link" href="{{ paginator.previous_page_path | relative_url }}" aria-label="Previous page">
            <i class="bi bi-chevron-left" aria-hidden="true"></i>
          </a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#">
            <i class="bi bi-chevron-left" aria-hidden="true"></i>
          </a>
        </li>
      {% endif %}
      {% if paginator.page_trail %}
        {% for trail in paginator.page_trail %}
          <li class="page-item {% if trail.path == page.url %}active{% endif %}">
            <a class="page-link" href="{{ trail.path |  prepend: site.baseurl }}" title="{{ trail.title }}">{{ trail.num }}</a>
          </li>
        {% endfor %}
      {% else %}
        <li class="page-item disabled">
          <a class="page-link">
            Page <b>{{ paginator.page }}</b> of <b>{{ paginator.total_pages }}</b>
          </a>
        </li>
      {% endif %}
      {% if paginator.next_page %}
        <li class="page-item">
          <a class="page-link" href="{{ paginator.next_page_path | relative_url }}" aria-label="Next page">
            <i class="bi bi-chevron-right" aria-hidden="true"></i>
          </a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#">
            <i class="bi bi-chevron-right" aria-hidden="true"></i>
          </a>
        </li>
      {% endif %}
      {% if paginator.last_page %}
        <li class="page-item {% if paginator.last_page == paginator.page %}disabled{% endif %}">
          <a class="page-link" href="{{ paginator.last_page_path | relative_url }}" aria-label="Last page">
            <i class="bi bi-chevron-double-right" aria-hidden="true"></i>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}
{%- endif -%}
