---
layout: base
---

<article>
  <header class="flex flex-col">
    <time
      class="fw-light"
      datetime="{{ page.date | date: '%Y-%m-%d' }}"
    >
      {{ page.date | date: '%B %-d, %Y' }}
    </time>
    <h1
      class="mt-6"
    >
      {{ page.title }}
    </h1>
    {% if page.tags.size > 0 %}
      <div class="mt-4">
      <span>
        <i class="bi bi-tag"></i>
      </span>
        {% for tag in page.tags %}
          {% assign tag_id = tag %}
          {% assign matching_tag = site.data.tags[tag_id] %}
          {% assign tag_name = matching_tag["name"] | default: tag_id %}
          <a
            class="link-secondary"
            href="{{ site.baseurl }}/tags/{{ tag }}"
          >{{ tag_name }}</a
          >
        {% endfor %}
      </div>
    {% endif %}
  </header>
  {% include series_list.liquid %}
  <div class="mt-8">{{ page.content }}</div>
</article>
