---
layout: base
---

<article>
  <header class="flex flex-col">
    <time
      class="relative z-10 order-first mb-3 flex items-center pl-3.5 text-sm text-zinc-400 dark:text-zinc-500"
      datetime="{{ page.date | date: '%Y-%m-%d' }}"
    >
      <span class="absolute inset-y-0 left-0 flex items-center">
        <span
          class="h-4 w-0.5 rounded-full bg-zinc-200 dark:bg-zinc-500"
        ></span>
      </span>
      {{ page.date | date: '%B %-d, %Y' }}
    </time>
    <h1
      class="mt-6 text-4xl font-bold tracking-tight text-zinc-800 sm:text-5xl dark:text-zinc-100"
    >
      {{ page.title }}
    </h1>
    {% if page.tags.size > 0 %}
      <div class="mt-4 flex items-center space-x-2 text-sm text-gray-700">
      <span class="text-zinc-500">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 16 16"
          fill="currentColor"
          class="h-4 w-4"
        >
          <path
            fill-rule="evenodd"
            d="M4.5 2A2.5 2.5 0 0 0 2 4.5v2.879a2.5 2.5 0 0 0 .732 1.767l4.5 4.5a2.5 2.5 0 0 0 3.536 0l2.878-2.878a2.5 2.5 0 0 0 0-3.536l-4.5-4.5A2.5 2.5 0 0 0 7.38 2H4.5ZM5 6a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z"
            clip-rule="evenodd"
          />
        </svg>
      </span>
        {% for tag in page.tags %}
          {% assign tag_id = tag %}
          {% assign matching_tag = site.data.tags[tag_id] %}
          {% assign tag_name = matching_tag["name"] | default: tag_id %}
          <a
            class="text-zinc-500 hover:text-blue-600 hover:underline"
            href="{{ site.baseurl }}/tags/{{ tag }}"
          >{{ tag_name }}</a
          >
        {% endfor %}
      </div>
    {% endif %}
  </header>
  {% include series_list.liquid %}
  <div class="prose mt-8">{{ page.content }}</div>
</article>
